In [1]:
import pandas as pd
from pathlib import Path

In [2]:
cpi_expenditure = Path("CPI_Expenditure_detail.csv")

expenditure_df = pd.read_csv(cpi_expenditure)

In [3]:
#reverse columns & rows
expenditure_df = expenditure_df.transpose()
expenditure_df

,0,1,2,3,4,5,6,7,8,9,...,692,693,694,695,696,697,698,699,700,701
Unnamed: 0,UNITED STATES,CPI-U ALL ITEMS,Core CPI-U,Food & Beverages,Food,Food at Home,Food Away from Home,Alcoholic Beverages,Housing,Shelter,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 1,Jan 00,168.800,178.800,166.600,166.100,166.300,167.200,172.400,166.000,190.100,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 2,Feb 00,169.800,179.500,166.800,166.300,166.300,167.600,173.000,167.100,191.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 3,Mar 00,171.200,180.500,167.100,166.500,166.400,167.900,173.500,167.800,192.200,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 4,Apr 00,171.300,180.900,167.200,166.600,166.500,168.100,173.600,167.900,192.300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Unnamed: 284,Aug 23,307.026,310.103,321.578,324.100,303.716,356.083,285.859,321.894,383.221,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 285,One Month,0.4,0.2,0.2,0.2,0.1,0.3,0.1,0.3,0.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Percent Change,Two Months,0.6,0.4,0.5,0.5,0.5,0.5,0.1,0.6,0.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 287,One Year,3.7,4.3,4.2,4.3,3.0,6.5,3.7,5.7,7.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 288,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:

#Change first column to df index
expenditure_df.set_index(expenditure_df.columns[0], inplace=True)

#Change first row to df columns
expenditure_df.columns = expenditure_df.iloc[0]
expenditure_df = expenditure_df.iloc[1:]
expenditure_df

UNITED STATES,CPI-U ALL ITEMS,Core CPI-U,Food & Beverages,Food,Food at Home,Food Away from Home,Alcoholic Beverages,Housing,Shelter,Residential Rent,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,,,,,,,,,,,,,,,,,,,,,
Jan 00,168.800,178.800,166.600,166.100,166.300,167.200,172.400,166.000,190.100,181.100,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Feb 00,169.800,179.500,166.800,166.300,166.300,167.600,173.000,167.100,191.000,181.500,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Mar 00,171.200,180.500,167.100,166.500,166.400,167.900,173.500,167.800,192.200,182.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Apr 00,171.300,180.900,167.200,166.600,166.500,168.100,173.600,167.900,192.300,182.300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
May 00,171.500,180.900,167.800,167.300,167.500,168.300,173.800,168.100,192.400,182.700,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Aug 23,307.026,310.103,321.578,324.100,303.716,356.083,285.859,321.894,383.221,402.247,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
One Month,0.4,0.2,0.2,0.2,0.1,0.3,0.1,0.3,0.3,0.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Two Months,0.6,0.4,0.5,0.5,0.5,0.5,0.1,0.6,0.7,0.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
One Year,3.7,4.3,4.2,4.3,3.0,6.5,3.7,5.7,7.3,7.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
#make headers uniform to eliminate hidden spaces or symbols

expenditure_df.columns = expenditure_df.columns.str.replace(' ', '_').str.lower()
expenditure_df.columns = expenditure_df.columns.str.strip('_')
expenditure_df.columns = expenditure_df.columns.str.replace(',', '')


expenditure_df

UNITED STATES,cpi-u_all_items,core_cpi-u,food_&_beverages,food,food_at_home,food_away_from_home,alcoholic_beverages,housing,shelter,residential_rent,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,,,,,,,,,,,,,,,,,,,,,
Jan 00,168.800,178.800,166.600,166.100,166.300,167.200,172.400,166.000,190.100,181.100,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Feb 00,169.800,179.500,166.800,166.300,166.300,167.600,173.000,167.100,191.000,181.500,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Mar 00,171.200,180.500,167.100,166.500,166.400,167.900,173.500,167.800,192.200,182.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Apr 00,171.300,180.900,167.200,166.600,166.500,168.100,173.600,167.900,192.300,182.300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
May 00,171.500,180.900,167.800,167.300,167.500,168.300,173.800,168.100,192.400,182.700,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Aug 23,307.026,310.103,321.578,324.100,303.716,356.083,285.859,321.894,383.221,402.247,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
One Month,0.4,0.2,0.2,0.2,0.1,0.3,0.1,0.3,0.3,0.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Two Months,0.6,0.4,0.5,0.5,0.5,0.5,0.1,0.6,0.7,0.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
One Year,3.7,4.3,4.2,4.3,3.0,6.5,3.7,5.7,7.3,7.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
#drop unecessary columns

columns_to_drop = ['housing','shelter','residential_rent','fuel_and_utilities','house_furnishings_&_ops',
                  'apparel','transportation','new_vehicles','gasoline','medical_care','recreation*',
                  'education_&_communication*','other_goods_&_services']

expenditure_df = expenditure_df.drop(columns=columns_to_drop, axis=1)

In [7]:
expenditure_df

UNITED STATES,cpi-u_all_items,core_cpi-u,food_&_beverages,food,food_at_home,food_away_from_home,alcoholic_beverages,homeowners'_equiv._rent,cpi-w_all_items,los_angeles,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,,,,,,,,,,,,,,,,,,,,,
Jan 00,168.800,178.800,166.600,166.100,166.300,167.200,172.400,196.200,165.600,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Feb 00,169.800,179.500,166.800,166.300,166.300,167.600,173.000,196.600,166.500,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Mar 00,171.200,180.500,167.100,166.500,166.400,167.900,173.500,196.900,167.900,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Apr 00,171.300,180.900,167.200,166.600,166.500,168.100,173.600,197.200,168.000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
May 00,171.500,180.900,167.800,167.300,167.500,168.300,173.800,197.600,168.200,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Aug 23,307.026,310.103,321.578,324.100,303.716,356.083,285.859,392.794,301.551,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
One Month,0.4,0.2,0.2,0.2,0.1,0.3,0.1,0.4,0.6,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Two Months,0.6,0.4,0.5,0.5,0.5,0.5,0.1,0.9,0.7,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
One Year,3.7,4.3,4.2,4.3,3.0,6.5,3.7,7.3,3.4,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
#drop null columns
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
expenditure_df = expenditure_df.dropna(axis=1, how='all')
expenditure_df

UNITED STATES,cpi-u_all_items,core_cpi-u,food_&_beverages,food,food_at_home,food_away_from_home,alcoholic_beverages,homeowners'_equiv._rent,cpi-w_all_items,cpi-u_all_items,core_cpi-u,food_&_beverages,food,food_at_home,food_away_from_home,alcoholic_beverages,homeowners'_equiv._rent,cpi-w_all_items,cpi-u_all_items,core_cpi-u,food_&_beverages,food,food_at_home,food_away_from_home,alcoholic_beverages,homeowners'_equiv._rent,cpi-w_all_items,cpi-u_all_items,core_cpi-u,food_&_beverages,food,food_at_home,food_away_from_home,alcoholic_beverages,homeowners'_equiv._rent,cpi-w_all_items,cpi-u_all_items,core_cpi-u,food_&_beverages,food,food_at_home,food_away_from_home,alcoholic_beverages,homeowners'_equiv._rent,cpi-w_all_items,cpi-u_all_items,core_cpi-u,cpi-w_all_items
0,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Jan 00,168.800,178.800,166.600,166.100,166.300,167.200,172.400,196.200,165.600,167.900,174.900,171.100,168.800,176.900,157.300,194.900,189.900,161.300,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,180.100,NA,NA,231.100,NA,NA,NA,NA
Feb 00,169.800,179.500,166.800,166.300,166.300,167.600,173.000,196.600,166.500,169.300,176.200,171.400,169.300,177.000,158.200,194.300,190.500,162.400,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,176.500,184.0,173.200,173.800,178.500,168.800,169.700,232.500,172.600,172.0,179.1,165.3
Mar 00,171.200,180.500,167.100,166.500,166.400,167.900,173.500,196.900,167.900,170.700,176.600,171.900,169.700,177.900,158.100,195.000,190.400,163.900,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,179.600,NA,NA,233.200,NA,NA,NA,NA
Apr 00,171.300,180.900,167.200,166.600,166.500,168.100,173.600,197.200,168.000,170.600,176.400,171.800,169.700,177.700,158.200,194.000,191.300,164.000,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,178.700,185.2,173.300,174.000,178.100,170.000,168.400,233.700,174.900,173.6,179.6,167.1
May 00,171.500,180.900,167.800,167.300,167.500,168.300,173.800,197.600,168.200,171.100,177.000,172.600,170.600,178.900,158.800,192.700,191.400,164.400,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,178.700,NA,NA,234.100,NA,NA,NA,NA
Jun 00,172.400,181.000,167.900,167.300,167.300,168.600,174.400,198.200,169.200,171.000,176.800,173.000,170.800,179.000,159.000,195.700,191.700,164.300,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,179.100,185.6,175.300,176.000,180.800,170.800,170.200,235.400,175.200,174.0,180.0,167.4
Jul 00,172.800,181.300,168.700,168.100,168.300,169.100,175.200,198.600,169.400,171.700,177.200,174.100,171.800,180.300,159.600,198.300,192.000,165.000,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,181.400,NA,NA,237.400,NA,NA,NA,NA
Aug 00,172.800,181.700,169.200,168.700,168.900,169.500,175.600,199.200,169.300,172.200,178.100,175.100,172.900,181.700,160.300,197.400,192.500,165.300,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,181.700,188.3,177.000,177.500,183.100,171.100,173.800,238.900,177.800,175.6,181.8,168.9
Sep 00,173.700,182.300,169.400,168.900,169.000,170.000,175.500,199.900,170.400,173.300,178.600,174.400,172.300,180.700,160.400,195.600,193.000,166.300,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,183.400,NA,NA,240.400,NA,NA,NA,NA
Oct 00,174.000,182.800,169.600,169.100,169.100,170.300,175.900,200.500,170.600,173.800,178.800,175.900,174.000,183.300,160.500,194.600,193.900,166.900,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,183.400,190.0,175.700,176.000,180.300,171.700,176.600,242.700,179.300,177.3,182.8,170.5
Nov 00,174.100,183.000,169.500,168.900,168.800,170.400,176.400,201.200,170.900,173.500,179.000,174.900,172.600,180.800,160.900,198.600,194.300,166.600,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,182.300,NA,NA,245.500,NA,NA,NA,NA
Dec 00,174.000,182.800,170.500,170.000,170.200,170.800,176.500,201.800,170.700,173.500,178.800,176.900,174.800,184.000,161.400,197.900,195.300,166.700,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,184.100,190.7,178.000,178.500,183.500,173.000,176.000,247.800,180.200,177.3,183.0,170.6
Jan 01,175.100,183.500,171.400,170.900,171.300,171.400,177.200,202.400,171.700,174.200,179.600,178.000,176.000,184.700,163.500,198.300,196.000,167.300,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,185.000,NA,NA,249.600,NA,NA,NA,NA
Feb 01,175.800,184.400,171.800,171.300,171.800,171.800,177.700,202.900,172.400,175.400,180.500,179.900,177.900,187.400,164.300,198.700,196.600,168.300,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,187.900,194.3,179.400,180.100,186.000,173.300,174.100,252.600,183.500,179.8,185.3,172.8
Mar 01,176.200,185.300,172.200,171.700,172.000,172.300,177.800,203.600,172.600,176.200,181.100,180.100,178.100,187.600,164.400,199.700,197.200,169.100,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,186.000,NA,NA,254.800,NA,NA,NA,NA
Apr 01,176.900,185.600,172.400,171.900,172.200,172.700,178.100,204.200,173.500,176.600,181.200,180.000,178.200,187.900,164.200,196.800,197.900,169.600,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,189.100,195.9,180.300,180.800,186.800,173.900,177.200,257.000,184.900,181.0,186.3,174.1
May 01,177.700,185.500,172.900,172.500,172.800,173.100,178.500,204.900,174.400,177.500,181.200,179.900,178.200,187.700,164.600,194.000,199.300,170.500,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,189.400,NA,NA,259.600,NA,NA,NA,NA
Jun 01,178.000,185.900,173.400,173.000,173.300,173.600,179.100,205.700,174.600,178.900,181.900,180.900,179.300,188.700,165.800,192.900,200.500,171.900,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,190.900,196.9,182.800,183.300,189.900,175.500,180.000,262.300,186.900,183.2,187.1,176.3
Jul 01,177.500,186.200,174.000,173.500,173.900,174.100,179.700,206.300,173.800,178.300,182.300,181.500,179.800,189.700,165.700,196.000,201.200,171.300,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,190.200,NA,NA,264.800,NA,NA,NA,NA
Aug 01,177.500,186.600,174.400,173.900,174.200,174.700,180.000,207.300,173.800,178.400,183.200,182.600,180.800,190.700,166.600,197.600,202.200,171.100,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,191.000,198.4,183.500,183.800,189.800,177.100,182.900,266.300,186.700,182.9,188.5,175.7
Sep 01,178.300,187.100,174.600,174.100,174.300,175.100,180.400,208.100,174.800,178.800,183.800,182.200,180.300,189.700,166.800,199.200,203.300,171.500,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,189.500,NA,NA,267.600,NA,NA,NA,NA
Oct 01,177.700,187.600,175.300,174.900,175.200,175.600,180.800,209.000,174.000,178.300,183.700,183.200,181.400,191.500,166.900,198.400,204.200,171.000,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,191.700,199.7,183.300,183.500,188.900,177.400,185.000,269.200,187.500,183.0,189.3,175.9
Nov 01,177.400,188.100,175.200,174.600,174.700,175.800,181.200,210.100,173.700,178.100,184.300,182.700,180.900,190.600,167.000,197.100,204.900,170.700,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,187.700,NA,NA,269.800,NA,NA,NA,NA
Dec 01,176.700,187.800,175.200,174.700,174.700,176.000,180.900,210.900,172.900,177.100,183.900,182.200,180.600,189.700,167.500,195.000,206.100,169.700,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,190.600,199.6,182.900,183.100,188.300,177.500,183.900,271.000,186.500,181.8,189.4,174.6
Jan 02,177.100,188.200,176.200,175.800,176.200,176.400,181.800,211.600,173.200,178.900,185.300,183.800,182.100,191.700,168.300,197.800,207.200,171.500,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,189.600,NA,NA,271.600,NA,NA,NA,NA
Feb 02,177.800,189.200,176.400,175.900,176.000,177.000,182.600,212.200,173.700,180.100,186.200,184.900,183.200,192.800,169.500,198.600,208.000,172.800,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,191.300,200.9,184.600,184.300,188.200,180.400,190.800,272.500,186.800,184.1,191.3,176.9
Mar 02,178.800,189.800,176.600,176.100,176.300,177.100,182.500,212.800,174.700,181.100,186.600,184.500,182.800,191.800,169.700,198.400,208.600,173.800,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,190.700,NA,NA,272.600,NA,NA,NA,NA
Apr 02,179.800,190.300,176.700,176.200,176.400,177.200,182.900,213.300,175.800,182.200,187.300,184.100,182.200,191.800,168.500,202.200,208.900,174.800,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,193.000,201.5,184.900,185.200,191.200,178.500,185.500,273.300,188.800,186.1,192.3,178.9
May 02,179.800,190.200,176.400,175.800,175.500,177.600,183.300,213.700,175.800,182.600,187.600,185.400,183.600,192.900,170.300,201.000,209.600,175.400,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,189.900,NA,NA,273.700,NA,NA,NA,NA
Jun 02,179.900,190.100,176.400,175.800,175.000,178.200,183.500,214.300,175.900,181.900,187.100,184.400,182.500,191.100,170.000,201.800,210.400,174.700,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,193.200,201.7,185.600,185.800,188.700,183.300,186.800,273.900,189.100,185.9,192.2,178.9
Jul 02,180.100,190.300,176.600,176.000,175.200,178.500,183.800,214.900,176.100,182.200,187.300,184.200,182.100,190.100,170.400,204.500,211.400,175.000,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,187.500,NA,NA,274.200,NA,NA,NA,NA
Aug 02,180.700,191.000,176.600,176.000,174.900,178.800,184.200,215.400,176.600,183.000,188.400,183.500,181.500,188.900,170.500,202.900,212.200,175.600,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,193.500,201.8,186.600,186.500,189.200,184.000,191.700,274.000,189.300,186.8,193.1,179.6
Sep 02,181.000,191.300,176.900,176.400,175.200,179.200,183.900,216.200,177.000,183.400,188.700,185.000,183.200,191.500,171.000,200.200,213.500,176.300,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,189.900,NA,NA,274.000,NA,NA,NA,NA
Oct 02,181.300,191.800,177.100,176.500,175.100,179.600,184.700,216.800,177.300,183.700,189.000,186.000,184.300,192.200,172.700,198.800,214.800,176.500,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,194.300,202.6,188.000,187.500,190.500,184.900,195.400,273.500,190.000,187.5,193.8,180.4
Nov 02,181.300,191.800,177.400,176.800,175.500,179.800,185.100,217.300,177.400,184.000,189.200,185.900,184.300,192.100,172.800,198.200,216.000,177.000,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,189.400,NA,NA,273.100,NA,NA,NA,NA
Dec 02,180.900,191.400,177.800,177.300,176.100,180.100,184.900,217.900,177.000,183.700,189.000,186.900,185.200,193.300,173.200,201.200,217.300,176.700,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,193.200,200.9,188.900,188.800,194.000,183.300,192.900,273.500,189.600,187.2,193.3,180.4
Jan 03,181.700,191.800,178.100,177.500,176.700,179.900,185.800,218.500,177.700,185.200,190.500,186.800,184.800,194.000,171.600,206.100,218.400,177.800,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,188.700,NA,NA,273.800,NA,NA,NA,NA
Feb 03,183.100,192.500,178.900,178.300,177.600,180.700,185.900,218.700,179.200,186.500,190.800,187.400,185.600,194.300,173.000,202.900,219.000,179.600,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,197.700,205.6,188.600,188.500,193.100,183.600,193.300,273.700,193.700,190.5,196.0,183.7
Mar 03,184.200,193.000,179.200,178.600,177.700,181.000,186.600,218.900,180.300,188.200,191.200,187.700,185.600,194.100,173.200,208.100,219.300,181.600,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,193.700,NA,NA,273.000,NA,NA,NA,NA
Apr 03,183.800,193.100,179.000,178.400,177.300,181.100,186.400,218.900,179.800,187.600,191.100,187.500,185.500,193.800,173.400,205.900,219.600,180.900,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,197.300,204.7,187.200,187.200,190.600,183.900,191.200,273.400,193.600,191.1,195.9,184.6
May 03,183.500,193.200,179.400,178.800,177.800,181.500,186.700,219.100,179.400,186.400,190.300,189.100,187.100,195.900,174.500,206.300,220.100,179.900,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,193.200,NA,NA,273.000,NA,NA,NA,NA
Jun 03,183.700,193.000,180.200,179.600,178.900,181.900,187.100,219.100,179.600,186.300,190.700,190.300,188.600,197.800,175.300,204.700,220.500,179.600,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,196.300,203.4,190.700,190.200,195.700,184.200,198.300,272.700,192.200,189.9,195.2,183.2
Jul 03,183.900,193.200,180.300,179.700,178.900,182.300,187.200,219.600,179.600,186.300,190.900,190.600,188.800,197.600,175.900,206.600,221.300,179.600,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,197.300,NA,NA,273.400,NA,NA,NA,NA
Aug 03,184.600,193.500,180.900,180.400,179.700,182.600,187.100,220.100,180.300,186.900,191.500,190.700,188.900,197.800,176.000,206.100,222.800,180.500,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,196.300,202.8,191.300,191.000,196.600,184.900,197.600,273.900,192.300,190.3,195.6,183.9
Sep 03,185.200,193.600,181.300,180.700,180.100,182.800,187.900,220.700,181.000,188.200,192.100,191.400,189.400,198.800,176.000,208.800,223.800,181.900,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,195.400,NA,NA,273.400,NA,NA,NA,NA
Oct 03,185.000,194.300,182.200,181.700,181.500,183.300,188.100,221.400,180.700,187.800,192.200,192.800,191.300,202.200,176.100,201.500,224.400,181.200,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,196.300,203.0,191.300,191.300,195.900,186.400,195.600,273.200,191.900,191.0,196.1,184.2
Nov 03,184.500,193.900,182.900,182.400,182.400,183.800,188.600,221.900,180.200,187.100,192.100,193.300,191.700,202.400,176.600,203.800,225.000,180.500,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,202.800,NA,NA,273.700,NA,NA,NA,NA
Dec 03,184.300,193.600,184.100,183.600,184.100,184.300,188.700,222.200,179.900,187.000,191.900,194.700,193.200,205.000,176.600,204.400,225.700,180.200,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,195.300,201.7,197.100,197.500,205.700,187.900,197.700,273.700,191.100,190.1,195.5,183.3
Jan 04,185.200,194.000,184.300,183.800,184.000,184.900,189.400,222.600,180.900,188.500,193.300,194.600,192.900,203.800,177.300,207.300,226.500,181.700,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,204.800,NA,NA,272.900,NA,NA,NA,NA
Feb 04,186.200,194.900,184.500,184.100,184.000,185.500,189.900,222.900,181.900,190.100,194.600,194.200,192.300,202.700,177.200,209.100,227.000,183.400,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,198.100,204.4,198.900,199.200,206.500,190.600,200.600,272.700,194.100,193.1,198.2,186.4
Mar 04,187.400,196.100,184.900,184.400,184.300,185.800,190.800,223.300,182.900,191.500,195.400,194.300,192.600,203.000,177.600,206.800,227.900,184.900,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,204.200,NA,NA,272.000,NA,NA,NA,NA
Apr 04,188.000,196.500,185.000,184.500,184.100,186.200,191.800,223.900,183.500,191.900,195.700,194.700,192.800,202.800,178.200,209.100,229.000,185.200,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,198.300,203.9,199.100,199.400,205.600,192.100,199.700,271.500,194.700,194.4,198.8,187.9
May 04,189.100,196.500,186.500,186.100,186.600,186.700,191.700,224.300,184.700,193.300,196.300,196.100,194.500,205.600,178.700,206.200,230.800,186.800,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,205.700,NA,NA,271.700,NA,NA,NA,NA
Jun 04,189.700,196.600,186.800,186.300,186.800,187.000,192.400,224.700,185.300,193.700,196.600,196.500,194.900,206.400,178.800,207.300,232.100,187.400,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,199.000,204.0,198.500,198.300,202.900,192.800,204.800,271.300,195.400,195.8,199.4,189.6
Jul 04,189.400,196.600,187.200,186.800,187.100,187.800,192.200,225.100,184.900,193.400,196.800,196.800,195.300,206.900,179.000,206.000,232.900,186.800,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,204.800,NA,NA,271.300,NA,NA,NA,NA
Aug 04,189.500,196.800,187.300,186.800,186.700,188.400,192.500,225.700,185.000,193.100,197.200,195.000,193.300,203.400,178.600,207.400,234.500,186.500,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,198.700,203.8,199.200,199.200,203.300,194.400,203.300,271.400,195.000,195.3,199.8,188.9
Sep 04,189.900,197.400,187.200,186.700,186.100,188.900,193.400,226.100,185.400,194.500,199.200,195.100,193.200,202.300,179.400,211.000,235.100,187.800,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,203.700,NA,NA,271.300,NA,NA,NA,NA
Oct 04,190.900,198.200,188.400,187.900,187.900,189.400,193.600,226.500,186.500,196.300,199.800,196.200,194.500,204.800,179.500,208.600,236.100,189.800,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,200.300,204.8,201.500,201.300,206.000,195.700,208.000,271.700,196.400,198.0,201.9,191.6
Nov 04,191.000,198.100,188.600,188.200,188.100,189.600,194.000,226.800,186.800,196.900,200.300,196.600,194.800,205.100,179.800,210.100,237.200,190.300,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,205.900,NA,NA,272.100,NA,NA,NA,NA
Dec 04,190.300,197.800,188.900,188.500,188.500,189.900,193.900,227.200,186.000,195.200,199.500,195.900,194.200,203.500,180.200,208.100,238.300,188.500,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,199.500,204.2,202.000,202.200,207.900,195.500,203.500,272.400,195.900,197.0,201.5,190.5
Jan 05,190.700,198.400,189.500,189.100,188.900,190.800,194.300,227.800,186.300,195.400,200.400,196.600,194.800,203.300,181.800,209.800,239.500,188.500,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,205.800,NA,NA,272.200,NA,NA,NA,NA
Feb 05,191.800,199.500,189.300,188.800,188.000,191.400,195.200,228.400,187.300,197.400,202.300,196.900,195.000,203.100,182.300,212.000,240.800,190.300,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,201.200,206.7,202.100,201.900,206.200,196.600,209.000,272.100,197.300,199.1,204.2,192.2
Mar 05,193.300,200.700,189.600,189.100,188.100,191.700,195.700,228.700,188.600,199.200,203.400,197.500,195.700,204.200,182.500,210.900,242.200,192.100,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,206.400,NA,NA,271.900,NA,NA,NA,NA
Apr 05,194.600,200.900,190.700,190.200,189.800,192.100,195.900,229.000,190.200,201.100,204.200,199.400,197.800,207.700,183.100,211.400,244.000,194.200,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,202.500,206.0,203.700,204.000,208.300,198.800,205.100,271.600,199.300,202.0,205.2,195.5
May 05,194.400,200.800,191.100,190.600,190.300,192.600,195.500,229.400,190.000,201.500,204.400,200.500,199.000,209.700,183.500,209.300,245.300,194.600,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,206.500,NA,NA,271.900,NA,NA,NA,NA
Jun 05,194.500,200.600,190.900,190.400,189.400,193.200,195.900,229.700,190.100,200.700,204.400,199.000,197.500,206.500,183.800,207.400,245.800,193.700,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,201.200,205.2,201.600,201.200,202.600,199.300,210.100,271.500,197.500,201.3,205.1,194.6
Jul 05,195.400,200.800,191.300,190.800,189.800,193.600,195.800,230.200,191.000,201.400,204.300,200.000,198.200,207.100,184.700,212.500,247.000,194.600,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,204.800,NA,NA,271.700,NA,NA,NA,NA
Aug 05,196.400,201.000,191.300,190.900,189.500,194.200,195.900,230.700,192.100,203.100,205.600,200.400,198.800,205.800,187.200,211.200,248.500,196.400,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,203.000,205.7,204.100,203.500,206.300,200.100,214.200,271.700,199.500,203.5,206.1,197.1
Sep 05,198.800,201.300,191.800,191.400,190.000,194.600,196.600,231.200,195.000,205.800,207.300,201.300,199.300,206.400,187.500,217.300,249.800,199.000,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,203.700,NA,NA,272.100,NA,NA,NA,NA
Oct 05,199.200,202.300,192.500,192.100,190.800,195.200,196.800,231.700,195.200,206.900,208.300,202.400,200.800,208.800,188.100,213.500,250.700,200.000,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,205.900,207.6,203.700,203.600,204.700,202.100,209.600,273.000,202.600,207.1,208.6,200.5

In [9]:
#region codes to add to column headers

usa = 'usa_'
los_angeles = 'la_'
riverside = 'riv_'
san_diego = 'sd'
san_francisco = 'sf'
california = 'cal'